---
---
@import "{{ site.theme }}";
#header { display: none; }
body {
  background: #141414;
  color: #d4d4d4;
}
a {
  color: maroon;
  font-weight: bolder;
}
a:hover {
  color: red;
}
section #title p {
  color: #d4d4d4;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  color: #d4d4d4;
}
