---
---

@import "{{ site.theme }}";

@font-face {
  font-family: "Alice";
  src: url("../fonts/Alice.ttf");
  font-weight: normal;
  font-style: normal;
}

body {
  background: #141414;
  color: #d4d4d4;
  font: 15px/1.5 "Alice", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

#header,
#title .credits {
  display: none;
}

section {
  margin: 0;

  #title {
    margin: 0;

    h1 {
      font-weight: 200;
      font-size: 2em;
    }

    p {
      color: #d4d4d4;
      font-weight: 200;
      font-size: 1em;
    }
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #d4d4d4;
}

h1,
h2,
h3,
h4,
h5,
h6,
strong,
th,
td,
li,
p,
.credits {
  font-family: "Alice", "Helvetica Neue", Helvetica, Arial, sans-serif !important;
}

strong,
h3 {
  font-weight: bold;
}

td,
th {
  padding: 0 0 1.2em 0;
  border: none;
  color: inherit;
  font-weight: bold;
  font-size: 102%;

  &.right {
    text-align: right;
  }

  &.separator {
    text-align: right;
    padding-top: 1.2em;

    &:after {
      content: "· · ·";
    }
  }
}

a {
  color: red;
  font-weight: bolder;

  &:hover {
    color: crimson;
  }
}

nav {
  li {
    font-weight: 200;
  }
}

ul {
  list-style-image: none;
  list-style: none;
  padding: 0;
}

li:before {
  content: "💀";
  margin: 0 1em;
}
