---
---
@import "{{ site.theme }}";
#header { diplay: none; }
body {
  background: #141414;
  color: ghostwhite;
  font-family: 'Alice', serif;
}
a {
  color: maroon;
  font-weight: bolder;
}
a:hover {
  color: red;
}
